.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.clear{
    clear:both;
}
.form-group{
    display: block;
    max-width: none;
}
.controls, .form-control{
    font-weight: normal;
}

.timesheet{
    margin-bottom: 15px;
}

.timesheet .Sun, .timesheet .Sat{
	background: #f2dede;
}
.timesheet .Sun input, .timesheet .Sat input{
	color: #c9302c;
}

.timesheet input{
	font-weight: bold;
}
.timesheet > div{
	padding: 10px;
	min-width: 105px;
	background: #dff0d8;
}

.deleted{
    text-decoration:line-through;
}

.total{
	font-weight: bold;
	font-size: 38px;
	color:#c9302c;
	text-align: center;
}

.dropingFiles{
    outline: #72ff6d dotted thick;
}

.tsApproved{
	background: #dff0d8;
}

.tsNew, .tsSaved, .tsReturned{
	background: #f2dede;
}

.tsRequestReturn{
	background: #d9edf7;
}

.tsSubmitted{
	background: #fcf8e3;
}

oi-timesheet-list .list-group-item{
	margin-bottom: 1px;
}