<div class="panel panel-default" >
    <div class="panel-heading">Uploaded Files/Documents</div>
    <div class="panel-body" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dropingFiles">
        <ul class="list-group">
            <li class="list-group-item {{doc.deleted}} " ng-repeat="doc in docs" >
                <a class="{{doc.file.split('.').pop().toLowerCase()}}" href="{{urlbase}}/download/{{model._id}}/{{doc.file}}">{{doc.type}}</a>
                <span class="pull-right glyphicon glyphicon-remove" ng-click="preDeleteDoc(doc)"></span>
            </li>
        </ul>
        <div class="btn btn-primary pull-right" ng-if="!files.files.length" ng-file-select="onFileSelect($files)" data-multiple="true">Upload Files</div>
        <div ng-if="files.files.length">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="file in files.files">
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeFile($index)"></span>
                    <div class="col-xs-11">
                        <input type="text" placeholder="File Description" ng-model="files.fileNames[$index]" class="form-control">  {{file.name}} {{file.type}}
                    </div>
                </li>
            </ul>
            <button class="btn btn-primary" ng-click="upload(files)">Upload Selected Files</button>
        </div>
    </div>
</div>