<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{action}} User</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <label class="form-group">Username
                    <div class="controls">
                        <input type="text" data-ng-model="user.username" class="form-control" placeholder="Username">
                    </div>
                </label>
                <label class="form-group">Password
                    <div class="controls">
                        <input type="text" data-ng-model="user.password" class="form-control" placeholder="Password">
                    </div>
                </label>
                <label class="form-group">Confirm Password
                    <div class="controls">
                        <input type="text" data-ng-model="user.confirmPassword" class="form-control" placeholder="Confirm Password">
                    </div>
                </label>
                <label class="form-group">First Name
                    <div class="controls">
                        <input type="text" data-ng-model="user.firstName" class="form-control" placeholder="First Name">
                    </div>
                </label>
                <label class="form-group">Last Name
                    <div class="controls">
                        <input type="text" data-ng-model="user.lastName" class="form-control" placeholder="Last Name">
                    </div>
                </label>
                <label class="form-group">Display Name
                    <div class="controls">
                        <input type="text" data-ng-model="user.displayName" class="form-control" placeholder="Display Name">
                    </div>
                </label>
                <label class="form-group">Email
                    <div class="controls">
                        <input type="text" data-ng-model="user.email" class="form-control" placeholder="Email">
                    </div>
                </label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="user.isEmployee"> Is Employee
                    </label>
                </div>
                <label class="form-group">Gender
                    <div class="controls">
                        <input type="text" data-ng-model="user.gender" class="form-control" placeholder="Gender">
                    </div>
                </label>
                <label class="form-group input-group" > Date Of Birth<div class="input-group" data-ng-controller="datepickerPopupCtrl">
                    <input datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close"  type="text" data-ng-model="user.dateOfBirth" class="form-control" placeholder="Date Of Birth">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                </div>
                </label>
                <label class="form-group">Ssn
                    <div class="controls">
                        <input type="text" data-ng-model="user.ssn" class="form-control" placeholder="Ssn">
                    </div>
                </label>
                <label class="form-group input-group" > Start Date
                    <div class="input-group" data-ng-controller="datepickerPopupCtrl">
                        <input datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close"  type="text" data-ng-model="user.startDate" class="form-control" placeholder="Start Date">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </label>
                <div oi-arrayfield model="user.address" type="text" title="Address"></div>
                <div oi-arrayfield model="user.visaStatus" type="text" title="Visa Status"></div>
                <div oi-arrayfield model="user.status" type="text" title="Status"></div>
                <div oi-arrayfield model="user.phones" type="text" title="Phones"></div>
                <div oi-arrayfield model="user.emails" type="text" title="Emails"></div>
                <div oi-arrayfield model="user.docs" type="text" title="Docs"></div>
                <div oi-arrayfield model="user.projects" type="text" title="Projects"></div>
                <div oi-arrayfield model="user.extra" type="text" title="Extra"></div>
                <div oi-arrayfield model="user.accessTS" type="text" title="Access T S"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>