<section data-ng-controller="UsersController" data-ng-init="getAllData()">
    <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/users/{{user._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="page-header">
		<h1 data-ng-bind="user.displayName"></h1>
	</div>

    <oi-timesheet-list></oi-timesheet-list>

    <div oi-documents model="user" urlbase="/users" docs="user.docs" functions="functions"></div>

</section>